{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div id="wrapper">
    <div class="top-bar">
        <span class="first">
          <span class="highlight-bar"></span>
          <a href="/" class="selected">首页</a></span>
        <span class="top_fav">
          <a href="{% url 'app:commit' %}" target="_blank">提交链接</a></span>
    </div>
    <div id="first-content">
        <div id="center-box-wrapper">
            <div id="center-box">
                <div id="center-logo">
                    <a href="">
                        <img src="{% static 'img/logo.png' %}" alt="磁力搜索"></a>
                </div>
                <div id="search-box">
                    <form id="search-form" action="{% url 'app:search' %}" enctype="multipart/form-data" method="get" role="form">
                        <input type="text" id="search" name="q" autocomplete="off" placeholder="搜搜你懂的">
                        <input type="submit" id="btnSearch" value="搜 索" class="blue"></form>
                    <div class="info-box">
                        <ul>
                            <li>
                                <a href="{% url 'app:search' %}?q=喜剧之王">喜剧之王</a></li>
                            <li>
                            <li>
                                <a href="{% url 'app:search' %}?q=泰坦尼克号">泰坦尼克号</a></li>
                            <li>
                            <li>
                                <a href="{% url 'app:search' %}?q=肖申克的救赎">肖申克的救赎</a></li>
                            <li>
                            <li>
                                <a href="{% url 'app:search' %}?q=一路向西">一路向西</a></li>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
{% endblock content %}

